@import "tailwindcss";

@theme {
  --color-primary: #ea5319;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;

  --font-display: var(--font-lexend);

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

:root {
  --background: #f6f7f8;
  --foreground: #1e293b;
}

body {
  background-color: #f6f7f8;
  color: #1e293b;
  font-family: var(--font-display);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}