@import "tailwindcss";

@theme {
  --color-primary: #F15A24;
  --color-secondary: #001A26;
  --color-background-light: #f6f7f8;
  --color-background-dark: #101922;
  --color-surface-light: #ffffff;
  --color-light-grey: #f5f5f5;
  --color-medium-grey: #666666;

  --font-display: var(--font-inter);

  --radius-default: 0.25rem;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-full: 9999px;
}

:root {
  --background: #ffffff;
  --foreground: #001A26;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-display);
}